name: Linux

on:
  pull_request:
    branches: [master, v1.x]
    paths:
      - "*.h"
      - "*.cpp"
      - "CMakeLists.txt"
      - "cmake/**"
      - "examples/**.cpp"
      - "examples/**CMakeLists.txt"
      - "!**Makefile" # old build system is not tested in this workflow
      - ".github/workflows/build_linux.yml"
  push:
    branches: [master, v1.x]
    paths:
      - "*.h"
      - "*.cpp"
      - "CMakeLists.txt"
      - "cmake/**"
      - "examples/**.cpp"
      - "examples/**CMakeLists.txt"
      - "!**Makefile" # old build system is not tested in this workflow
      - ".github/workflows/build_linux.yml"
    tags: ["*"]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  build:
    uses: nRF24/.github/.github/workflows/build_linux_cmake.yaml@review-ci
    with:
      compiler: ${{ matrix.toolchain.compiler }}
      usr-dir: ${{ matrix.toolchain.usr_dir }}
      examples-path: examples
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - compiler: "armhf"
            usr_dir: "arm-linux-gnueabihf"
          - compiler: "arm64"
            usr_dir: "aarch64-linux-gnu"
          # - compiler: "x86_64"
          #   usr_dir: "x86_64-linux-gnux32"
          # - compiler: "i686"
          #   usr_dir: "i686-linux-gnu"
          - compiler: "default" # github runner is hosted on a "amd64"
            usr_dir: "local" # use default compiler to test build all examples (including the ncurses ones)

  deploy:
    name: deploy release assets
    needs: [build]
    permissions:
      # needed for uploading release assets
      contents: write
    if: startsWith(github.ref, 'refs/tags/')
    uses: nRF24/.github/.github/workflows/deploy_cpack_artifacts.yaml@review-ci
    secrets: inherit
